
.search-results {
  max-width: 800px;
  margin: 0 auto;
}

.text-xl {
  font-size: 10rem;
  font-family: 'Montserrat', sans-serif;
}

.track-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f0f4f8;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.track-info {
  flex: 1;
}

.track-info h3 {
  font-size: 1.2rem;
  font-weight: bold;
  color: #2d3748;
  margin: 0;
  margin-bottom: 0.5rem;
}

.track-info p {
  font-size: 1rem;
  color: #4a5568;
  margin: 0;
}

.audio-controls {
  display: flex;
  align-items: center;
}

.select-controls {
  display: flex;
  align-items: center;
}

.select-button {
  background-color: #1db954;
  color: #ffffff;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  border: none;
  margin-right: 1rem;
  font-size: 1rem;
  transition: background-color 0.3s ease-in-out;
}

.play-button {
  background-color: #1db954;
  color: #ffffff;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  border: none;
  margin-right: 1rem;
  font-size: 1rem;
  transition: background-color 0.3s ease-in-out;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  background-color: #cbd5e0;
  border-radius: 5px;
  outline: none;
}

input[type="range"]::-webkit-slider-thumb,
input[type="range"]::-moz-range-thumb,
input[type="range"]::-ms-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background-color: #1db954;
  border-radius: 50%;
  cursor: pointer;
}

.play-button:hover,
.select-button:hover {
  background-color: #1ed760;
}

input[type="text"] {
  font-size: 2rem;
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  width: 80%; /* Adjust the width as needed */
  max-width: 400px; /* Set a maximum width to prevent it from becoming too narrow */
  background-color: #f4f4f4; /* Add a light background color */
  color: #333; /* Change the text color to a darker color for better visibility */
}

